* {
    margin: 0;
    padding: 0;
}

.boton-menu {
    font-size: 11px;
    background-color: #234E7A;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    font-family: Arial Black;
}

.menu {
    list-style: none;
    padding: 0%;
    background: #D19317;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: #234E7A;
    padding: 10px;
    display: block;
    font-family: Arial Black;
    font-size: 11px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #CCCC00;
}

.paleta {
    height: auto;
    width: 600px;
}

.mapa {
    height: auto;
    width: 100%;
}

.azul-claro {
    color: #4C83F0;
    font-family: Arial Black;
    font-size: 18px;
    padding-top: 37px;
}

.azul-oscuro {
    color: #234E7A;
    font-family: Arial Black;
}

.parrafo {
    color: #234E7A;
    font-family: Arial Black;
    font-size: 26px;
    padding-top: 100px;
}

.logo {
    height: 250px;
    width: 350px;
    float: left;
}

.boton {
    background-color: #234E7A;
    height: 50px;
    width: 160px;
    font-family: Arial Black;
    background-repeat: initial;
    border-top: 3px solid #4C83F0;
    box-shadow: -5px 5px 8px #4C83F0;
    border-width: 3px solid #4C83F0;
    border-radius: 7px;
}

.embajador-img {
    z-index: 1;
    height: 650px;
    width: 100%;
}

.container-all {
    border-top: 11px solid #C7739D;
}

.linea1 {
    border-top: 3px solid #4C83F0;
}

.contador {
    width: 100%;
}

.contacto {
    font-family: Arial Black;
    color: #234E7A;
}

.sala-img {
    height: 450px;
    width: 800px;
    position: relative;
    bottom: 17em;
    left: 16em;
}

.linea-imagenes {
    height: 150px;
    width: 250px;
}

.bordes {
    border: whitesmoke;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.piscina-img {
    position: relative;
    bottom: 12em;
    right: -2em;
}

.habitacion-img {
    position: relative;
    bottom: 23em;
    left: 10em;
}

.bufete-img {
    position: relative;
    bottom: 23em;
    left: 15em;
}

hr {
    background: rgb(43, 107, 226);
    width: 180px;
    height: 10px;
    position: relative;
    bottom: 12em;
}

.p {
    color: #234E7A;
    font-size: 17px;
    text-align: center;
    font-family: Arial Black;
}

.p2 {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    top: 1em;
    text-transform: uppercase;
    font-family: Consolas;
}

.p3 {
    font-size: 15px;
    color: rgb(19, 1, 19);
    position: relative;
    top: 2em;
    text-transform: uppercase;
    font-family: Arial Black;
}

.div1 {
    background-color: rgb(197, 214, 245);
    height: 11px;
    margin-top: 5%;
}

.barra2 {
    height: 10px;
    width: 400px;
    margin-top: -15px;
}

.abajo {
    margin-top: 11%;
    font-size: 16px;
}

.parr2 {
    color: #4C83F0;
}